---
- name: Update packages
  apt:
    update_cache: yes
  tags:
    - system

- name: install node13.8.0
  become: true
  shell: curl -fsSL https://deb.nodesource.com/setup_13.x | sudo -E bash - && sudo apt-get install -y nodejs
